@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

:root {
  font-family: "Unbounded", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --cream: hsl(27, 66%, 92%);

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #2c292168;
  /*background-image: url(assets/screen-bg.jpg);
  background-size: contain;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}
.to-do-container {
  background-color: rgba(255, 192, 203, 0.422);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.5); /* Solid shadow on bottom and right */
}

.li-lists {
  list-style-type: none;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: white solid 2px;
  line-height: 2rem;
}
.button-lists {
  padding: 0 5px 0 5px;
  background-color: transparent;
  margin-left: auto; /* Push this item to the right */
}
li span {
  font-size: 1.5rem;
  margin: 0.5rem;
}
ul li {
  position: relative; /* Make sure that position is relative to contain the ::before pseudo-element */
  padding-left: 0.5rem; /* Space for the checkbox */
  margin-bottom: 20px; /* Optional: for spacing between list items */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.to-do-container h1 {
  font-size: 3em;
  margin: 0.25em;
  margin-top: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

.input-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
input[type="text"] {
  color: white;
  width: 70%;
  font-size: 0.8rem;
  font-family: "Unbounded", sans-serif;
  background-color: rgba(255, 192, 203, 0.442);
  border-radius: 5px;
  border: 1px white solid;
  padding: 0 2rem 0 2rem;
  outline: none; /* Removes the default focus outline */
}
input::placeholder {
  color: white; /* Set the placeholder color to your preference */
}

.add-button {
  color: white;
  font-size: 1rem;
  background-color: rgba(255, 192, 203, 0.434);
  border: 1px white solid;
  border-radius: 5px;
}
